.blink {
  color: var(--primary);
  animation: blinking 2s step-start infinite;
  -webkit-animation: blinking 2s step-start infinite;
}

@keyframes blinking {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
